{% extends 'base.html' %}

{% block head %}
<style>
    .dtableforstrain{
        margin-left:250px;
        margin-right: 100px;
        height:50px;
    }
</style>
{% endblock %}




{% block body %}
<br>
<br>
<br>

<div class = "dtableforstrain">
<table id="table_id" class ="ui celled table">
    <thead class="table-success">
        <tr>
            <!-- <th>Plate ID </th>
            <th>Study</th>
            <th>Plate Type</th>
            <th>Species</th>
            <th>Strain</th>
            <th>Media</th>
            <th>Rep</th>
            <th>Setup Time</th> -->
            <th>Specie</th>
            <th>Strains</th>
            <th>Studies</th>
            <th>Media Types</th>
        </tr>
    </thead>
</table>

</div>

{% endblock %}

{% block script%}
<script>
    $(document).ready(function() {
        $('#table_id').DataTable( {
            "ajax": '/strains/json',
            "lengthChange": true,
            "deferRender": true,
            "info": true,
            "lengthMenu": [[10, 50, 80, -1], [10, 50, 80, "All"]],
        } );
    } );
</script>

{%endblock%}
