{% extends 'base.html' %}

{% block head %}
<style>
    .dtableforstrain{
        margin-left:200px;
    }
</style>
{% endblock %}




{% block body %}

<div class = "dtableforstrain">
<table id="table_id" class ="ui celled table" style="width:fit-content;">
    <thead class="table-success">
        <tr>
            <th>Plate ID </th>
            <th>Study</th>
            <th>Plate Type</th>
            <th>Species</th>
            <th>Strain</th>
            <th>Media</th>
            <th>Rep</th>
            <th>Setup Time</th>
        </tr>
    </thead>
</table>

</div>

{% endblock %}

{% block script%}
<script>
    $(document).ready(function() {
        $('#table_id').DataTable( {
            "ajax": '/strains/json',
            "lengthChange": true,
            "deferRender": true,
            "info": true,
            "lengthMenu": [[50, 100, 150, -1], [50, 100, 150, "All"]],
        } );
    } );
</script>

{%endblock%}
